{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nomutilisateur</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Groupe</th>
                <td>{{ entity.groupe }}</td>
            </tr>
            <tr>
                <th>Année d'étude</th>
                <td>{{ entity.annee|date('Y') }}</td>
            </tr>
 
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('utilisateur') }}">
            Liste des utilisateurs
        </a>
    </li>
    <li>
        <a href="{{ path('utilisateur_profile', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
