{% extends '::base.html.twig' %}

{% block body -%}
    <section id="maincontent">
    <div class="container">
            <div class="row">
                    <div class="span12">
                        <h1>Modification de l'Ecole</h1>
                        {{ form_start(edit_form) }}
                            <table class="table">
                                <tr>
                                    <td>{{ form_label(edit_form.idecole,'Ecole')}}</td>
                                    <td>{{ form_widget(edit_form.idecole) }}</td>
                                    <td>{{ form_errors(edit_form.idecole) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.nomsite,'Site/Ville')}}</td>
                                    <td>{{ form_widget(edit_form.nomsite) }}</td>
                                    <td>{{ form_errors(edit_form.nomsite) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.adressesite,'Adresse')}}</td>
                                    <td>{{ form_widget(edit_form.adressesite) }}</td>
                                    <td>{{ form_errors(edit_form.adressesite) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.telephone,'Téléphone')}}</td>
                                    <td>{{ form_widget(edit_form.telephone) }}</td>
                                    <td>{{ form_errors(edit_form.telephone) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.fax,'Fax')}}</td>
                                    <td>{{ form_widget(edit_form.fax) }}</td>
                                    <td>{{ form_errors(edit_form.fax) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Cochez ci-dessous les Laboratoires proposés dans cette école</td>
                                </tr>
                                {%for lab in edit_form.labs%}
                                <tr>  
                                    <td>{{form_label(lab)}} </td>
                                    <td>{{form_widget(lab)}}</td>
                                    <td>&nbsp;</td>
                                </tr>   
                                 {%endfor%}
                            </table>
                                    
                            <div>
                                {{ form_widget(edit_form.submit, { 'label': 'Soumettre' })}}
                            </div>
                            <div class="hidden">{{ form_rest(edit_form)}}</div>
                            {{ form_end(edit_form) }} 
                            <ul class="record_actions" style="margin-left: 0px;">
                                <li >
                                    <a href="{{ path('site') }}">
                                    Back to the list 
                                    </a>
                                </li>
                            </ul>
                            
                    </div>
            </div>
    </div>
    </section>
    
{% endblock %}
